@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html, body, div {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  position: relative; }
  body * {
    position: relative;
    box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-family: Lato;
  font-size: 40px;
  line-height: 70px;
  font-weight: 700;
  letter-spacing: .1px;
  grid-column: 1 / span 12; }
  @media only screen and (max-width: 560px) {
    h1 {
      font-size: 30px; } }
  h1.title {
    margin-top: 80px; }
  h1.title:before {
    content: "";
    z-index: -1;
    position: absolute;
    box-sizing: border-box;
    left: -10px;
    width: 20%;
    max-width: 195px;
    height: 15px;
    bottom: 13px;
    background-color: #E2E6E8;
    opacity: 1; }
  h1.title:nth-of-type(6) {
    margin-top: 200px; }
  h1.card-title {
    font-size: 22px;
    line-height: 44px;
    margin-bottom: 30px; }
    @media only screen and (max-width: 1400px) {
      h1.card-title {
        line-height: 36px; } }
    @media only screen and (max-width: 900px) {
      h1.card-title {
        font-size: 18px;
        line-height: 36px; } }
  h1.product-name {
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: .8px; }

.micro-header {
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 7px;
  text-transform: uppercase; }
  @media only screen and (max-width: 560px) {
    .micro-header {
      font-size: 10px;
      letter-spacing: 4px; } }

p {
  font-family: Lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: left; }
  p.body-copy {
    grid-column: 1 /span 9;
    font-size: 18px;
    line-height: 36px; }
    @media only screen and (max-width: 1400px) {
      p.body-copy {
        grid-column: span 8; } }
    @media only screen and (max-width: 900px) {
      p.body-copy {
        grid-column: span 12; } }
  p.card-name {
    grid-column: span 12;
    margin-top: 20px;
    font-size: 20px;
    color: #4383FF; }
  p.tagline {
    color: #878787;
    font-family: Lato;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: left; }
    @media only screen and (max-width: 900px) {
      p.tagline {
        font-size: 10px;
        line-height: 18px; } }
  @media only screen and (max-width: 900px) {
    p {
      font-size: 10px; } }
  p.copy {
    font-size: 14; }
    @media only screen and (max-width: 900px) {
      p.copy {
        font-size: 11px; } }
  p.catagory {
    font-size: 10px;
    letter-spacing: 2px;
    color: #fff;
    background-color: #4383FF;
    max-height: 28px;
    padding: 2px 15px;
    text-transform: uppercase;
    z-index: 99; }
  p.price {
    font-size: 18px;
    line-height: 36px;
    font-weight: 400; }
  p.name {
    font-size: 14px;
    line-height: 25px; }
  p.small {
    font-size: 9px;
    line-height: 14px;
    color: #878787; }

a {
  font-family: lato;
  font-size: 13px;
  text-decoration: none;
  color: #4383FF; }
  a.btn {
    color: white;
    background-color: #4383FF;
    font-size: 10px;
    border-radius: 2px;
    padding: 15px 30px;
    transition: background-color .1s ease-in-out, transform .25s ease-in-out; }
    a.btn:hover {
      background-color: #3c76eb;
      transform: translateY(-3px);
      transition: background-color .1s ease-in-out, transform .25s ease-in-out; }
  a.big-btn {
    box-sizing: border-box;
    color: #4383FF;
    grid-column: 1/3;
    margin-top: 10px;
    border: 1px solid #4383FF;
    padding: 10px;
    border-radius: 3px; }
    @media only screen and (max-width: 900px) {
      a.big-btn {
        grid-column: 1/6; } }
    a.big-btn:hover {
      background: #4383FF;
      color: white;
      border: 1px solid #4383FF; }

body.dark h1 {
  color: #F8F8F8;
  letter-spacing: 2px; }
  body.dark h1.title:before {
    background-color: #878787;
    opacity: .15; }

body.dark p.tagline {
  color: #878787; }

body.dark p.copy {
  color: #F8F8F8;
  letter-spacing: 1px; }

body.dark p.price {
  color: #fff; }

body.dark p.name {
  color: #fff; }

body.dark p.small {
  color: #878787;
  letter-spacing: .5px; }

body.dark p.body-copy {
  color: #F8F8F8; }

body.dark .article-5 .tagline, body.dark .article-6 .tagline, body.dark .article-7 .tagline {
  color: #222327; }

body.dark .article-5 h1, body.dark .article-6 h1, body.dark .article-7 h1 {
  color: #303238;
  letter-spacing: 0px; }

.card {
  position: relative;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 1px 7px rgba(122, 122, 122, 0.2), 0px 0px 1px rgba(122, 122, 122, 0.2);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  overflow: hidden;
  will-change: transform, box-shadow;
  transition: transform .3s ease-in-out, box-shadow .3s ease-in-out; }
  .card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 15px 20px -5px rgba(122, 122, 122, 0.15), 0px 0px 1px rgba(122, 122, 122, 0.2);
    transition: all .3s ease-in-out; }

.grid {
  max-width: 1200px;
  height: auto;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto);
  gap: 10px;
  justify-items: stretch;
  align-items: stretch; }
  @media only screen and (max-width: 1400px) {
    .grid {
      padding: 20px; } }
  .grid h1 {
    text-align: left; }

.hero-l {
  grid-column: span 12;
  height: 474px;
  overflow: hidden; }
  .hero-l .text-wrapper {
    text-align: left;
    align-self: center;
    left: 9%;
    z-index: 2; }
    .hero-l .text-wrapper h1 {
      color: #222327; }
    .hero-l .text-wrapper .micro-header {
      left: 3px; }
  .hero-l img {
    position: absolute;
    height: 474px;
    width: 100%;
    object-fit: cover; }

.hero-c {
  position: relative;
  grid-column: span 12;
  height: 474px;
  overflow: hidden; }
  .hero-c .text-wrapper {
    text-align: center;
    align-self: center;
    margin: 0 auto;
    z-index: 2; }
    .hero-c .text-wrapper h1 {
      color: #222327; }
    .hero-c .text-wrapper .micro-header {
      text-align: center; }
  .hero-c img {
    position: absolute;
    height: 474px;
    width: 100%;
    object-fit: cover; }

.hero-r {
  position: relative;
  grid-column: span 12;
  height: 474px;
  overflow: hidden; }
  .hero-r .text-wrapper {
    position: absolute;
    width: 500px;
    text-align: right;
    align-self: center;
    right: 9%;
    z-index: 2; }
    .hero-r .text-wrapper h1 {
      color: #222327;
      text-align: right; }
    .hero-r .text-wrapper .micro-header {
      text-align: right; }
  .hero-r img {
    position: absolute;
    height: 474px;
    width: 100%;
    object-fit: cover; }
.article-1 {
  grid-column: span 12;
  height: auto;
  overflow: hidden; }
  @media only screen and (max-width: 900px) {
    .article-1 {
      flex-direction: column; } }
  .article-1 img {
    height: 400px;
    width: 2%;
    flex-grow: 1;
    object-fit: cover; }
    @media only screen and (max-width: 900px) {
      .article-1 img {
        width: 100%;
        height: 300px; } }
  .article-1 .text-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 80px 100px; }
    @media only screen and (max-width: 1400px) {
      .article-1 .text-wrapper {
        padding: 80px; } }
    @media only screen and (max-width: 560px) {
      .article-1 .text-wrapper {
        padding: 30px; } }
    .article-1 .text-wrapper .body-wrapper {
      width: 300px; }
      @media only screen and (max-width: 900px) {
        .article-1 .text-wrapper .body-wrapper {
          width: 100%;
          padding-bottom: 40px; } }
    .article-1 .text-wrapper a {
      position: absolute;
      bottom: 60px; }
      @media only screen and (max-width: 560px) {
        .article-1 .text-wrapper a {
          bottom: 30px; } }

.article-2 {
  grid-column: span 12;
  height: auto;
  overflow: hidden; }
  @media only screen and (max-width: 900px) {
    .article-2 {
      flex-direction: column; } }
  .article-2 img {
    height: 250px;
    width: 20%;
    flex-grow: 1;
    object-fit: cover; }
    @media only screen and (max-width: 900px) {
      .article-2 img {
        width: 100%;
        height: 300px; } }
  .article-2 .text-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 40px 100px; }
    @media only screen and (max-width: 1400px) {
      .article-2 .text-wrapper {
        padding: 30px 80px; } }
    @media only screen and (max-width: 560px) {
      .article-2 .text-wrapper {
        padding: 30px; } }
    .article-2 .text-wrapper h1 {
      margin-bottom: 10px; }
    .article-2 .text-wrapper .body-wrapper {
      width: 300px; }
      @media only screen and (max-width: 900px) {
        .article-2 .text-wrapper .body-wrapper {
          width: 100%;
          padding-bottom: 40px; } }
    .article-2 .text-wrapper a {
      position: absolute;
      bottom: 30px; }
      @media only screen and (max-width: 560px) {
        .article-2 .text-wrapper a {
          bottom: 30px; } }

.article-3 {
  grid-column: span 12;
  height: auto;
  overflow: hidden; }
  @media only screen and (max-width: 900px) {
    .article-3 {
      flex-direction: column; } }
  .article-3 img {
    order: 2;
    height: 400px;
    width: 2%;
    flex-grow: 1;
    object-fit: cover; }
    @media only screen and (max-width: 900px) {
      .article-3 img {
        width: 100%;
        height: 300px;
        order: 1; } }
  .article-3 .text-wrapper {
    order: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 80px 100px; }
    @media only screen and (max-width: 1400px) {
      .article-3 .text-wrapper {
        padding: 80px; } }
    @media only screen and (max-width: 560px) {
      .article-3 .text-wrapper {
        padding: 30px; } }
    .article-3 .text-wrapper .body-wrapper {
      width: 300px; }
      @media only screen and (max-width: 900px) {
        .article-3 .text-wrapper .body-wrapper {
          width: 100%;
          padding-bottom: 40px; } }
    .article-3 .text-wrapper a {
      position: absolute;
      bottom: 60px; }
      @media only screen and (max-width: 560px) {
        .article-3 .text-wrapper a {
          bottom: 30px; } }

.article-4 {
  grid-column: span 12;
  height: auto;
  overflow: hidden; }
  @media only screen and (max-width: 900px) {
    .article-4 {
      flex-direction: column; } }
  .article-4 img {
    order: 2;
    height: 250px;
    width: 20%;
    flex-grow: 1;
    object-fit: cover; }
    @media only screen and (max-width: 900px) {
      .article-4 img {
        order: 1;
        width: 100%;
        height: 300px; } }
  .article-4 .text-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 40px 100px; }
    @media only screen and (max-width: 1400px) {
      .article-4 .text-wrapper {
        padding: 30px 80px; } }
    @media only screen and (max-width: 900px) {
      .article-4 .text-wrapper {
        order: 1; } }
    @media only screen and (max-width: 560px) {
      .article-4 .text-wrapper {
        padding: 30px; } }
    .article-4 .text-wrapper h1 {
      margin-bottom: 10px; }
    .article-4 .text-wrapper .body-wrapper {
      width: 300px; }
      @media only screen and (max-width: 900px) {
        .article-4 .text-wrapper .body-wrapper {
          width: 100%;
          padding-bottom: 40px; } }
    .article-4 .text-wrapper a {
      position: absolute;
      bottom: 30px; }

.article-5 {
  height: 300px;
  padding: 50px 20px; }
  .article-5 img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 400px;
    object-fit: cover; }
  .article-5 .fade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(250, 250, 250, 0), #fafafa); }
  .article-5 .tagline {
    color: #303238; }
  .article-5 h1 {
    line-height: 30px;
    margin-top: 10px; }
  .article-5 a {
    position: absolute;
    bottom: 20px;
    letter-spacing: 1px; }

.article-6 {
  height: 300px;
  padding: 50px 20px; }
  .article-6 img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 400px;
    object-fit: cover; }
  .article-6 .fade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(250, 250, 250, 0), #fafafa); }
  .article-6 .tagline {
    color: #303238; }
  .article-6 h1 {
    line-height: 30px;
    margin-top: 10px; }
  .article-6 a {
    position: absolute;
    bottom: 20px;
    letter-spacing: 1px; }

.article-7 {
  height: 300px;
  padding: 50px 35px; }
  .article-7 img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 400px;
    object-fit: cover; }
  .article-7 .catagory {
    position: absolute;
    top: 35px; }
  .article-7 .fade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(250, 250, 250, 0), #fafafa); }
  .article-7 .text-wrapper {
    position: absolute;
    bottom: 0;
    max-width: 300px;
    align-self: self-end; }
    @media only screen and (max-width: 1000px) {
      .article-7 .text-wrapper {
        width: 250px; } }
    @media only screen and (max-width: 900px) {
      .article-7 .text-wrapper {
        left: 20px;
        right: 0;
        bottom: 40px;
        width: 220px; } }
    @media only screen and (max-width: 560px) {
      .article-7 .text-wrapper {
        width: 300px; } }
    .article-7 .text-wrapper .tagline {
      color: #303238; }
    .article-7 .text-wrapper h1 {
      line-height: 30px;
      margin-top: 10px; }
  .article-7 a {
    position: absolute;
    text-align: left;
    bottom: 35px;
    right: 35px;
    letter-spacing: 1px; }
    @media only screen and (max-width: 1000px) {
      .article-7 a {
        right: 20px; } }
    @media only screen and (max-width: 900px) {
      .article-7 a {
        bottom: 20px;
        left: 20px; } }

.article-8 {
  height: auto;
  overflow: hidden; }
  @media only screen and (max-width: 900px) {
    .article-8 {
      flex-direction: column; } }
  .article-8 img {
    order: 1;
    height: 250px;
    width: 20%;
    flex-grow: 1;
    object-fit: cover; }
    @media only screen and (max-width: 900px) {
      .article-8 img {
        order: 1;
        width: 100%;
        height: 300px; } }
  .article-8 .text-wrapper {
    order: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 40px 80px; }
    @media only screen and (max-width: 1400px) {
      .article-8 .text-wrapper {
        padding: 30px; } }
    @media only screen and (max-width: 900px) {
      .article-8 .text-wrapper {
        order: 1; } }
    .article-8 .text-wrapper h1 {
      margin-bottom: 10px; }
    .article-8 .text-wrapper .body-wrapper {
      padding-bottom: 40px; }
      @media only screen and (max-width: 900px) {
        .article-8 .text-wrapper .body-wrapper {
          width: 100%;
          padding-bottom: 40px; } }
    .article-8 .text-wrapper a {
      position: absolute;
      bottom: 30px; }

.article-9 {
  height: auto;
  flex-direction: column;
  text-align: left; }
  .article-9 img {
    max-height: 300px;
    width: 100%;
    object-fit: cover; }
  .article-9 .catagory {
    position: absolute;
    top: 35px; }
  .article-9 .text-wrapper {
    position: relative;
    height: auto;
    padding: 20px 30px; }
    @media only screen and (max-width: 987px) {
      .article-9 .text-wrapper {
        padding: 20px 30px 60px 30px; } }
    .article-9 .text-wrapper .tagline {
      margin-bottom: 10px; }
    .article-9 .text-wrapper h1 {
      line-height: 30px;
      text-align: left;
      display: inline; }
    .article-9 .text-wrapper a {
      position: absolute;
      bottom: 15px;
      width: auto;
      padding: 10px;
      text-align: left;
      right: 30px;
      letter-spacing: 1px; }
      @media only screen and (max-width: 987px) {
        .article-9 .text-wrapper a {
          left: 20px; } }

.article-10 {
  height: 350px;
  position: relative;
  overflow: visible;
  text-align: left; }
  .article-10:hover img {
    box-shadow: 0px 15px 20px -5px rgba(122, 122, 122, 0.15), 0px 0px 1px rgba(122, 122, 122, 0.2);
    transition: all .3s ease-in-out; }
  .article-10:hover .text-wrapper {
    transform: scale(1);
    transition: all .3s ease-in-out; }
  .article-10 img {
    height: 350px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0px 1px 7px rgba(122, 122, 122, 0.2), 0px 0px 1px rgba(122, 122, 122, 0.2);
    transition: all .3s ease-in-out; }
  .article-10 .text-wrapper {
    margin-top: 30px;
    transition: all .3s ease-in-out; }

.product-1 .text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px; }
  .product-1 .text-wrapper .product-name {
    text-align: left;
    flex-grow: 6; }
  .product-1 .text-wrapper .price {
    width: 15%;
    text-align: right; }
  .product-1 .text-wrapper .copy {
    width: 80%;
    margin-top: 20px; }
    @media only screen and (max-width: 1400px) {
      .product-1 .text-wrapper .copy {
        width: 100%; } }
  .product-1 .text-wrapper a {
    position: absolute;
    bottom: -15px;
    text-align: right;
    right: 30px; }

.product-1 img {
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover; }
  @media only screen and (max-width: 900px) {
    .product-1 img {
      height: 300px; } }

.product-1 svg {
  margin-bottom: 30px;
  position: relative;
  right: 20px; }

.product-2 .text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px; }
  .product-2 .text-wrapper .product-name {
    text-align: left;
    flex-grow: 6; }
  .product-2 .text-wrapper .price {
    width: 15%;
    text-align: right; }
  .product-2 .text-wrapper .copy {
    width: 80%;
    margin-top: 20px; }
    @media only screen and (max-width: 1400px) {
      .product-2 .text-wrapper .copy {
        width: 100%; } }

.product-2 img {
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover; }
  @media only screen and (max-width: 900px) {
    .product-2 img {
      height: 300px; } }

.product-2 svg {
  margin-bottom: 30px;
  position: relative;
  right: 20px; }

.product-2 .btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  transition: transform .2s ease-in-out; }

.product-3 .text-wrapper {
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px; }
  .product-3 .text-wrapper .product-name {
    text-align: left; }
  .product-3 .text-wrapper .price {
    font-size: 14px;
    border-radius: 2px;
    position: absolute;
    top: -20px;
    z-index: 99;
    background-color: #4383FF;
    color: #fff;
    padding: 0px 20px;
    text-align: right; }
  .product-3 .text-wrapper .copy {
    width: 80%;
    margin-top: 20px; }
    @media only screen and (max-width: 1400px) {
      .product-3 .text-wrapper .copy {
        width: 100%; } }

.product-3 img {
  order: 1;
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover; }
  @media only screen and (max-width: 900px) {
    .product-3 img {
      height: 300px; } }

.product-3 svg {
  order: 3;
  margin-bottom: 30px;
  position: relative;
  right: 20px; }

.product-3 a {
  position: absolute;
  bottom: 30px;
  right: 30px;
  transition: transform .2s ease-in-out; }

.product-4 .text-wrapper {
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px; }
  .product-4 .text-wrapper .product-name {
    text-align: left;
    flex-grow: 6; }
  .product-4 .text-wrapper .price {
    width: 15%;
    text-align: right; }
  .product-4 .text-wrapper .copy {
    width: 80%;
    margin-top: 20px; }
    @media only screen and (max-width: 1400px) {
      .product-4 .text-wrapper .copy {
        width: 100%; } }
  .product-4 .text-wrapper svg {
    order: 3;
    margin: 20px 0 30px 0;
    position: relative;
    right: 52px; }
  .product-4 .text-wrapper a {
    order: 4;
    width: 100%;
    padding-top: 20px;
    border-top: 2px solid #F8F8F8; }

.product-4 img {
  order: 1;
  position: relative;
  width: 100%;
  height: 250px;
  object-fit: cover; }
  @media only screen and (max-width: 900px) {
    .product-4 img {
      height: 300px; } }

.dark .product-4 .text-wrapper a {
  border-top: 1px solid #26282b; }

.user-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 30px; }
  .user-1 .user {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative; }
  .user-1 p {
    text-align: center; }
  .user-1 a {
    position: relative;
    top: 10px;
    padding: 5px 0;
    font-size: 11px; }

.user-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; }
  .user-2 .user {
    position: relative;
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 10px; }
  .user-2 p {
    text-align: center; }
    .user-2 p.small {
      padding: 0 0 15px 0; }
  .user-2 a {
    position: relative;
    padding: 5px 0 20px 0;
    font-size: 11px; }

.user-3 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 40px; }
  @media only screen and (max-width: 1050px) {
    .user-3 {
      justify-content: center; } }
  @media only screen and (max-width: 900px) {
    .user-3 {
      grid-column: span 6 !important; } }
  @media only screen and (max-width: 560px) {
    .user-3 {
      grid-column: span 8 !important;
      padding: 20px; } }
  .user-3 .user {
    pointer-events: none;
    height: 70px;
    width: 70px;
    margin-right: 30px;
    object-fit: cover;
    border-radius: 50%;
    position: relative; }
    @media only screen and (max-width: 1050px) {
      .user-3 .user {
        margin-right: 0px; } }
    @media only screen and (max-width: 900px) {
      .user-3 .user {
        margin-right: 20px; } }
  .user-3 .text-wrapper {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding: 5px 0px; }
    .user-3 .text-wrapper p {
      pointer-events: none;
      text-align: left; }
    .user-3 .text-wrapper a {
      position: relative;
      text-align: left;
      top: 10px;
      font-size: 11px; }

.user-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 30px;
  margin-top: 30px;
  overflow: visible; }
  @media only screen and (max-width: 900px) {
    .user-4 {
      grid-column: span 4 !important; } }
  .user-4 .user {
    pointer-events: none;
    position: relative;
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: -30px;
    position: relative; }
    @media only screen and (max-width: 376px) {
      .user-4 .user {
        width: 50px;
        height: 50px; } }
  .user-4 p {
    text-align: center;
    pointer-events: none; }
    @media only screen and (max-width: 900px) {
      .user-4 p {
        height: 30px;
        line-height: 15px;
        font-size: 12px; } }
    .user-4 p.small {
      pointer-events: none;
      padding-bottom: 20px; }
  .user-4 a {
    position: relative;
    padding: 0 0 20px 0;
    font-size: 11px; }

.user-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center; }
  @media only screen and (max-width: 900px) {
    .user-5 {
      grid-column: span 6 !important; } }
  @media only screen and (max-width: 560px) {
    .user-5 {
      grid-column: span 8 !important; } }
  .user-5 .user {
    height: 150px;
    width: 33%;
    object-fit: cover;
    position: relative; }
  .user-5 .text-wrapper {
    position: relative;
    height: auto;
    width: 66%;
    padding-left: 20px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .user-5 .text-wrapper p {
      text-align: left; }
      .user-5 .text-wrapper p.small {
        margin-bottom: 20px; }
      .user-5 .text-wrapper p.copy {
        font-size: 10px;
        line-height: 17px; }
    .user-5 .text-wrapper a {
      position: relative;
      text-align: left;
      top: 10px;
      font-size: 11px; }

body {
  position: relative;
  background-color: #F8F8F8;
  padding: 0px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  body .main-content {
    background-color: blue;
    height: 50px;
    width: calc( 100% - 250px); }
  body .toggle-dark {
    z-index: 99;
    width: 60px;
    height: 30px;
    position: absolute;
    top: 110px;
    right: 20px;
    background-color: #E2E6E8;
    border: 1px solid #F8F8F8;
    border-radius: 20px;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1); }
    @media only screen and (max-width: 900px) {
      body .toggle-dark {
        transform: translateX(-45px);
        top: 115px; } }
    body .toggle-dark p {
      position: absolute;
      width: 150px;
      top: -30px; }
    body .toggle-dark .toggle-switch {
      height: 28px;
      width: 28px;
      transform: translateX(0px);
      background-color: #4383FF;
      border-radius: 19px;
      box-shadow: 0px 2px 3px rgba(16, 16, 16, 0.2);
      transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1); }
  body .move-down {
    position: relative;
    top: 120px; }
  body.dark {
    background-color: #222327; }
    body.dark .toggle-dark {
      background-color: #303238;
      border: 1px solid #303238;
      transition: all .2s ease-in-out; }
      body.dark .toggle-dark p {
        color: white; }
      body.dark .toggle-dark .toggle-switch {
        transform: translateX(30px);
        background-color: #4383FF;
        border-radius: 19px;
        transition: all .3s ease-in-out; }
    body.dark .card {
      background-color: #303238;
      box-shadow: 0px 1px 7px rgba(16, 16, 16, 0.2), 0px 0px 1px rgba(16, 16, 16, 0.3); }
      body.dark .card.article-10 img {
        box-shadow: 0px 1px 7px rgba(16, 16, 16, 0.2), 0px 0px 1px rgba(16, 16, 16, 0.3); }

.span-2 {
  grid-column: span 2; }
  @media only screen and (max-width: 900px) {
    .span-2 {
      grid-column: span 6; } }

.span-3 {
  grid-column: span 3; }
  @media only screen and (max-width: 900px) {
    .span-3 {
      grid-column: span 4; } }
  @media only screen and (max-width: 560px) {
    .span-3 {
      grid-column: span 12; } }

.span-4 {
  grid-column: span 4; }
  @media only screen and (max-width: 900px) {
    .span-4 {
      grid-column: span 6; } }
  @media only screen and (max-width: 560px) {
    .span-4 {
      grid-column: span 12; } }

.span-6 {
  grid-column: span 6; }
  @media only screen and (max-width: 560px) {
    .span-6 {
      grid-column: span 12; } }

.span-8 {
  grid-column: span 8; }
  @media only screen and (max-width: 900px) {
    .span-8 {
      grid-column: span 6; } }
  @media only screen and (max-width: 560px) {
    .span-8 {
      grid-column: span 12; } }

.span-9 {
  grid-column: span 9; }
  @media only screen and (max-width: 900px) {
    .span-9 {
      grid-column: span 8; } }
  @media only screen and (max-width: 560px) {
    .span-9 {
      grid-column: span 12; } }

.span-12 {
  grid-column: span 12; }

